
<%
	var prefillFName ='';
	var prefillLName ='';
	var prefillEmail ='';

	if(locals.prefill)
	{
		prefillFName = locals.prefill.fname == null ? '' : locals.prefill.fname;
		prefillLName = locals.prefill.lname == null ? '' : locals.prefill.lname;
		prefillEmail = locals.prefill.email == null ? '' : locals.prefill.email;
	}
%>


<%- include('../header',{extraCSS:[],extraJS:[]}); %>


<body>

	<%- include('../navbar',{page:'Login'}); %>


	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-4">
				<form action="/user/create" method="post">
					<div>
				        <label>First Name:</label>
				        <input type="text" name="fname" value="<%=prefillFName%>"/>
				    </div>
				    <div>
				        <label>Last Name:</label>
				        <input type="text" name="lname" value="<%=prefillLName%>"/>
				    </div>
				    <div>
				        <label>Email:</label>
				        <input type="text" name="email" value="<%=prefillEmail%>"/>
				    </div>
				    <div>
				        <label>Password:</label>
				        <input type="password" name="password"/>
				    </div>

				    <% if(locals.error){%>
					    <div>
					    	<p class='text-danger'><strong><%= error%></strong></p>
					    </div>
					<%}%>
				    <div>
				        <input type="submit" value="Create"/>
				    </div>
				</form>
			</div>
		</div>
	</div>
    


<%- include('../footer'); %>
