
<%

//var pagecss = ['/stylesheets/index.css'];
var pagejs = ['/javascripts/index.js'];


var allReferrals = null;
if(referrals)
{
	allReferrals = referrals.allReferrals ? referrals.allReferrals : null;
}



var getReferralColor = function(referral){
	if(referral.Status == 'unread'){
		return 'table-success'
	}
	else if(referral.Status =='read')
	{
		return 'table-danger';
	}
	else if(referral.Status =='in-progress')
	{
		return 'table-warning';
	}
};

	
%>


<%- include('../header',{extraCSS:[],extraJS:[]}); %>


<body>

	<%- include('../navbar',{page:'Referrals'}); %>


    

    <!-- Page Content -->
    <div class="container mt-4">

	    

    <%if(allReferrals){%>
    	
    	<div class="row">
    		<div class="col-12 mx-auto justify-content-center">
		    	<table class="display hover mousePointer" id="mainTable" cellspacing="0" width="100%">
		  			<thead>
			    		<tr>
				      		<th>#</th>
				      		<th>Type</th>
				      		<th>Name</th>
				      		<th>Phone</th>
				      		<th>Email</th>
				      		<th>Consumer</th>
				      		<th>Submit Date</th>
				    	</tr>
		  			</thead>
		  			<tfoot>
			    		<tr>
				      		<th>#</th>
				      		<th>Type</th>
				      		<th>Name</th>
				      		<th>Phone</th>
				      		<th>Email</th>
				      		<th>Consumer</th>
				      		<th>Submit Date</th>
				    	</tr>
		  			</tfoot>
		  			<tbody>
			    		<%allReferrals.forEach(function(element){%>
							<tr onclick="location.href = '/referral/<%=element.ReferralID%>';" class="<%=getReferralColor(element);%>">
								<td><%=element.ReferralID%></td>
								<td><%=element.ReferralType%></td>
								<td><%=element.SubmitterName%></td>
								<td><a href='tel:<%=locals.helper.prettyPhone(element.SubmitterPhone);%>'><%=locals.helper.prettyPhone(element.SubmitterPhone);%></a></td>
								<td><%=element.SubmitterEmail%></td>
								<td><%=element.FName + " " + element.LName%></td>
								<td><%= new Date(element.ReferralDate).toLocaleString();%></td>
							</tr>
				    	<%});%>
		  			</tbody>
				</table>
			</div>
		</div>

		<div class="row">
    		<div class="col">
    			<p><span class="text-success">&#9632;</span> New <span class="text-warning pl-3">&#9632;</span> In-progress <span class="text-danger pl-3">&#9632;</span> Read</p>
    		</div>
    	</div>
    <%}%>
	    <div>
	</div>

	<script>
		$('#mainTable').DataTable({
			"order":[[0, "desc"]]
		});
	</script>

<%- include('../footer'); %>
