
<%

//var pagecss = ['/stylesheets/index.css'];
//var pagejs = ['/javascripts/index.js'];



var referralData = referralObject;

if(referralData)
{
	var hours = referralData.referral.Hours ? referralData.referral.Hours + " " + referralData.referral.HourName : '?';	
}



var getReferralColor = function(referral){
	if(referral == 'unread'){
		return 'text-info';
	}
	else if(referral =='read')
	{
		return 'text-danger';
	}
	else if(referral =='completed')
	{
		return 'text-success';
	}
	else if(referral =='in-progress')
	{
		return 'text-warning';
	}
};

%>


<%- include('../header',{extraCSS:[],extraJS:[]}); %>


<body>

	<%- include('../navbar',{page:'Referrals'}); %>


    

    <!-- Page Content -->
    <div class="container-fluid">

    <%if(referralData){%>

    	<div class="row">

    		<!--options card-->
    		<div class="col-md-12">
			    <div class="card">
				 	<div class="card-header"><h4><i class="fa fa-id-card-o" aria-hidden="true"></i> Referral <%=referralData.referral.ReferralID%></h4></div>
				  	<div class="card-body">

				  		<div class="row">
				  			<div class="col-md-5">
						  		<div class="row">
						    		<div class="col-xl-3">
						    			<strong>Type:</strong>
						    		</div>
						    		<div class="col-xl-9">
						    			<strong class="text-primary"><%=referralData.referral.TypeName%></strong>
						    		</div>
						    	</div>
						    	<div class="row">
						    		<div class="col-xl-3">
						    			<strong>Created:</strong>
						    		</div>
						    		<div class="col-xl-9">
						    			<%=new Date(referralData.referral.DateAdded).toLocaleString();%>
						    		</div>
						    	</div>
						    	<div class="row">
						    		<div class="col-xl-3">
						    			<strong>Status:</strong>
						    		</div>
						    		<div class="col-xl-9 <%=getReferralColor(referralData.referral.Status);%>">
						    			<%=referralData.referral.Status%>
						    		</div>
						    	</div>
						    	<div class="row">
						    		<div class="col-xl-3">
						    			<strong>Hours:</strong>
						    		</div>
						    		<div class="col-xl-9 ">
						    			<%=hours%>
						    		</div>
						    	</div>
						    	<%if(referralData.referral.AdditionalInfo){%>
						    	<div class="row">
						    		<div class="col-xl-3">
						    			<strong>Additional Info:</strong>
						    		</div>
						    		<div class="col-xl-9 ">
						    			<%=referralData.referral.AdditionalInfo%>
						    		</div>
						    	</div>
						    	<%}%>
						    	<br>
						    	<div class="row">
						    		<div class="col-12">
						    			<strong>Files:</strong>
						    		</div>
						    		<div class="col-12 ">
						    			<a href="/referral/download/<%=referralData.referral.ReferralID + '/' + referralData.files.ipp%>"  download><i class="fa fa-book" aria-hidden="true"></i>IPP Download</a>
						    		</div>
						    		<div class="col-12 ">
						    			<a href="/referral/download/<%=referralData.referral.ReferralID + '/' + referralData.files.cder%>" download><i class="fa fa-file-code-o" aria-hidden="true"></i>CDER Download</a>
						    		</div>
						    	</div>
						    	
						    	<div class="row mt-4">
						    		<div class="col mb-xl-0 mb-2">
						    			<label><strong>Mark as:</strong></label>
						    			<form action='' method='post'>
							    			<input type="submit" value="Completed" name="action" class="btn btn-sm btn-success"/>
							    			<input type="submit" value="In-Progress" name="action" class="btn btn-sm btn-warning"/>
							    			<input type="submit" value="Read" name="action" class="btn btn-sm btn-danger"/>
							    		</form>
						    		</div>
						    	</div>

						    	<div class="row mt-4">
						    		<div class="col-md-3">
						    			<a href="/referral" class="btn btn-sm btn-primary">Back to Referrals</a>
						    		</div>
						    	</div>
						    </div>

							<div class="col-md-7 mt-4 mt-md-0">


								<ul class="nav nav-tabs" id="myTab" role="tablist">
								 	<li class="nav-item">
								    	<a class="nav-link active" id="consumerTab" data-toggle="tab" href="#consumer" role="tab" aria-controls="consumer" aria-selected="true"><i class="fa fa-user-circle" aria-hidden="true"></i>Consumer</a>
								  	</li>
								  	<li class="nav-item">
								    	<a class="nav-link" id="submitterTab" data-toggle="tab" href="#submitter" role="tab" aria-controls="submitter" aria-selected="false"><i class="fa fa-mobile" aria-hidden="true"></i>Submitter</a>
								  	</li>
								  	<%if(referralData.worker){%>
								  	<li class="nav-item">
								    	<a class="nav-link" id="workerTab" data-toggle="tab" href="#worker" role="tab" aria-controls="worker" aria-selected="false"><i class="fa fa-briefcase" aria-hidden="true"></i>Worker</a>
								  	</li>
								  	<%}%>
								  	<%if(referralData.family){%>
								  	<li class="nav-item">
								    	<a class="nav-link" id="familyTab" data-toggle="tab" href="#family" role="tab" aria-controls="family" aria-selected="false"><i class="fa fa-heart" aria-hidden="true"></i>Family</a>
								  	</li>
								  	<%}%>
								</ul>
								<div class="tab-content" id="myTabContent">
								  	<div class="tab-pane fade show active" id="consumer" role="tabpanel" aria-labelledby="consumerTab">
								  		<div class="row mt-4 pl-4">
								  			<div class="col-12">
								  				<%- include('../user/singleUserSmallProfile',{person:referralData.client,cardTitle:'Consumer'}); %>
								  				<%if(referralData.client.Role == 9){%>
									  				<form name="consumerAdd" action='' method='post' class="mt-4">
									  					<input type="hidden" name="ConsumerID" value="<%=referralData.client.UserID%>">
										    			<input type="submit" value="Add Consumer" name="AddConsumer" class="btn btn-sm btn-success"/>
										    		</form>
										    	<%}%>
								  			</div>
								  		</div>
								  	</div>
								  	<div class="tab-pane fade" id="submitter" role="tabpanel" aria-labelledby="submitterTab">
								  		<div class="row mt-4 pl-4">
								  			<div class="col-12">
								  				<%- include('../user/singleUserSmallProfile',{person:referralData.submitter,cardTitle:'Submitter'}); %>
								  			</div>
								  		</div>
								  	</div>
								  	<%if(referralData.worker){%>
								  	<div class="tab-pane fade" id="worker" role="tabpanel" aria-labelledby="workerTab">
								  		<div class="row mt-4 pl-4">
								  			<div class="col-12">
								  				<%-include('../user/singleUserSmallProfile',{person:referralData.worker,cardTitle:'Worker'});%>
								  			</div>
								  		</div>
								  	</div>
								  	<%}%>
								  	<%if(referralData.family){%>
								  	<div class="tab-pane fade" id="family" role="tabpanel" aria-labelledby="familyTab">
								  		<div class="row mt-4 pl-4">
								  			<div class="col-12">
								  				<%-include('../user/singleUserSmallProfile',{person:referralData.family,cardTitle:'Family'});%>
								  			</div>
								  		</div>
								  	</div>
								  	<%}%>
								</div>


							</div>
					    </div>

				  	</div><!--card body-->
				</div>
    		</div><!--end options card-->


    		
			

    	</div>


		

    <%}else{%>
    	<div class="row">
    		<div class="col-md-6 mx-auto">
    			<h4 class="text-danger">Couldn't find that referral</h4>
    		</div>
    	</div>
    <%}%>
    	

	</div>



<%- include('../footer'); %>
