
<%

//var pagecss = ['/stylesheets/index.css'];
var pagejs = ['/javascripts/index.js'];



var referralData = referralObject;

var hours = referralData.referral.Hours ? referralData.referral.Hours + " " + referralData.referral.HourType : '?';

var getReferralColor = function(referral){
	if(referral == 'unread'){
		return 'text-info';
	}
	else if(referral =='read')
	{
		return 'text-danger';
	}
	else if(referral =='completed')
	{
		return 'text-success';
	}
	else if(referral =='in-progress')
	{
		return 'text-warning';
	}
};

	
%>


<%- include('../header',{extraCSS:[],extraJS:[]}); %>


<body>

	<%- include('../navbar',{page:'Referrals'}); %>


    

    <!-- Page Content -->
    <div class="container-fluid mt-4">

    <%if(referralData){%>

    	<div class="row">

    		<!--options card-->
    		<div class="col-md-4">
			    <div class="card">
				 	<div class="card-header bg-info text-white"><h5><i class="fa fa-id-card-o" aria-hidden="true"></i> Referral Information</h5></div>
				  	<div class="card-body">


				  		<div class="row">
				    		<div class="col-xl-3">
				    			<strong>Type:</strong>
				    		</div>
				    		<div class="col-xl-9">
				    			<%=referralData.referral.ReferralType%>
				    		</div>
				    	</div>
				    	<div class="row">
				    		<div class="col-xl-3">
				    			<strong>Created:</strong>
				    		</div>
				    		<div class="col-xl-9">
				    			<%=new Date(referralData.referral.DateAdded).toLocaleString();%>
				    		</div>
				    	</div>
				    	<div class="row">
				    		<div class="col-xl-3">
				    			<strong>Status:</strong>
				    		</div>
				    		<div class="col-xl-9 <%=getReferralColor(referralData.referral.Status);%>">
				    			<%=referralData.referral.Status%>
				    		</div>
				    	</div>
				    	<div class="row">
				    		<div class="col-xl-3">
				    			<strong>Hours:</strong>
				    		</div>
				    		<div class="col-xl-9 ">
				    			<%=hours%>
				    		</div>
				    	</div>
				    	<%if(referralData.referral.AdditionalInfo){%>
				    	<div class="row">
				    		<div class="col-xl-3">
				    			<strong>Additional Info:</strong>
				    		</div>
				    		<div class="col-xl-9 ">
				    			<%=referralData.referral.AdditionalInfo%>
				    		</div>
				    	</div>
				    	<%}%>


				    	
				    	<div class="row mt-4">
				    		<div class="col mb-xl-0 mb-2">
				    			<button onclick='' class="btn btn-sm btn-success">Mark as completed</button>
				    		</div>
				    		<div class="col mb-xl-0 mb-2">
				    			<button onclick='' class="btn btn-sm btn-warning">Mark as in-progress</button>
				    		</div>
				    		<div class="col mb-xl-0 mb-2">
				    			<button onclick='' class="btn btn-sm btn-danger">Mark as read</button>
				    		</div>
				    	</div>

				    	<div class="row mt-4">
				    		<div class="col-md-3">
				    			<a href="/referral" class="btn btn-sm btn-primary">Back to Referrals</a>
				    		</div>
				    	</div>
				  	</div>
				</div>
    		</div><!--end options card-->


    		<div class="col-md-4 mt-4 mt-md-0">
				<%- include('../user/singleUserPrefab',{person:referralData.client,cardTitle:'Consumer'}); %>
			</div>
			<div class="col-md-4 mt-4 mt-md-0">
				<%- include('../user/singleUserPrefab',{person:referralData.submitter,cardTitle:'Submitter'}); %>
			</div>
			

    	</div>

    	<%if(referralData.family){%>
    	<div class="row mt-4">
    		<div class="col-md-4">
    			<%-include('../user/singleUserPrefab',{person:referralData.family,cardTitle:'Family'});%>
    		</div>
    	</div>
		<%}%>

    <%}else{%>
    	<div class="row">
    		<div class="col-md-6 mx-auto">
    			<h4 class="text-danger">Couldn't find that referral</h4>
    		</div>
    	</div>
    <%}%>
    	

	</div>



<%- include('../footer'); %>
